<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/chatRoom" method="post">
  <input type="submit" name="submit_button" value="ChatRoom1">
</form>

<form action="/chatRoom" method="post">
  <input type="submit" name="submit_button" value="ChatRoom2">
</form>

<form action="/chatRoom" method="post">
  <input type="submit" name="submit_button" value="ChatRoom3">
</form>

<form action="/chatRoom" method="post">
  <input type="submit" name="submit_button" value="ChatRoom4">
</form>
</body>
</html>